# Carpeta de compilación
/build/

# Archivos de IDE
/.idea/
/*.iml

# Token del bot o variables de entorno
token.txt
.env

# Logs y temporales
*.log
*.tmp
*.swp
*.bak

# Sistema operativo
.DS_Store
Thumbs.db
